* {
    margin: 0;
    padding: 0;
}


body {
    background: #04011C;
}

.noScroll {
    overflow: hidden;
}

header {
    background: #04011C;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    border: px solid black;
    background: #04011C;
    box-shadow: 0px 20px 40px rgba(205, 28, 104, 0.08);
    z-index: 1;
}

.container > div {
    margin: 10px;
    width: 320px;
    height: auto;
    border: px solid black;
    z-index: 1;
}

.container_block_1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: px solid black;
}

.container_block_1 > div {
    width: auto;
    height: auto;
    border: px solid black;
}

.header_logo {
    width: 100%;
    height: auto;
}




.container_block_2 {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   border: px solid black;
}

.container_block_2 > div {
    margin: 8px;
    width: auto;
    height: auto;
    border: px solid black;
}


.header_links {
    font-family: 'Outfit', sans-serif;
    font-size: 100%;
    font-weight: 400;
    color: #fff;
    transition: 0.3s;
    text-decoration: none;
}


.header_links:hover {
    transition: 0.3s;
    color: #7040F2;
}

.container_block_3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: px solid black;
}

.container_block_3 > div {
    margin: 8px;
    width: auto;
    height: auto;
    border: px solid black;
}

.container_block_3__1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid black;
}

.container_block_3 > div {
    width: auto;
    height: auto;
    border: px solid black;
}

.container_block_3 > div:first-child {
    border: 1px solid #E7E7E766;
    border-radius: 8px;
    background: #1E1B33;
}


.search_input {
    margin: 5px;
    width: 110px;
    height: 30px;
    background: #1E1B33;
    color: #fff;
    border: none;
    font-family: 'Outfit', sans-serif;
    font-size: 90%;
    outline: none;
}



.search_button {
    margin: 5px;
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    font-size: 100%;
    cursor: pointer;
    color: #fff;
}

.getintouch_button {
    width: 120px;
    height: 40px;
    border: none;
    background: linear-gradient(89.62deg, #0500FA 7.09%, #E01E5A 92.23%);
    font-family: 'Outfit', sans-serif;
    font-size: 90%;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}


.container_menu {
    display: none;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.container_menu > div {
    width: auto;
    height: auto;
    border: 1px solid black;
}


@media screen and (max-width: 1026px) {
    #container_block_2 {
        display: none;
    }
    #container {
        justify-content: space-between;
    }
    #container > div {
        width: auto;
    }
    #container_block_1 {
        justify-content: flex-start;
    }
}


@media screen and (max-width: 800px) {
    #search_input {
        width: 80px;
        height: 25px;
        background: none;
    }
    #search_button {
        width: 20px;
        height: 25px;
    }
    #container_block_hide > div:first-child {
        border: 1px solid #E7E7E766;
        border-radius: 10px;
    }
}

@media screen and (max-width: 370px) {
    #container_block_hide > div:nth-child(1) {
        display: none;
    }
}


.nav-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
    width: 25px;
  }
  
  .nav-toggle .bar {
    height: 5px;
    width: 100%;
    border-radius: 50px;
    background-color: #fff;
    transition: all 100ms ease-in-out;
  }
  
  .nav-toggle:hover {
    cursor: pointer;
  }
  
  .x:nth-of-type(1) {
    transition: all 300ms ease-in-out;
    transform: rotate(45deg);
    transform-origin: top left;
    width: 31px;
  }
  
  .x:nth-of-type(2) {
    transition: all 300ms ease-in-out;
    transform-origin: center;
    width: 0;
  }
  
  .x:nth-of-type(3) {
    transition: all 300ms ease-in-out;
    transform: rotate(-45deg);
    transform-origin: bottom left;
    width: 30px;
  }




.container_block_hide {
    display: none;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: px solid #fff;
}

.container_block_hide > div {
    margin: 8px;
    width: auto;
    height: auto;
    border: px solid #fff;
}


@media screen and (max-width: 800px) {
    #container_block_3  {
        display: none;
    }
    #container_block_hide {
        display: flex;
    }
    #container_block_3 > div:first-child {
        display: none;
    }
    #container > div:nth-child(3) {
        width: 100%;
    }
    #container > div:nth-child(4) {
        width: 100%;
        margin-bottom: 1000px;
    }
    #container_block_2 > div {
        width: 100%;
    }
    .header_links {
        text-align: center;
    }
    #container_block_2 > div {
        text-align: center;
    }
    #container_block_2 {
        margin-top: 90px;
    }
}



@media screen and (max-width: 420px) {
    .nav-toggle {
        width: 20px;
        height: 20px;
    }
    .nav-toggle .bar {
        height: 4px;
        width: 100%;
        border-radius: 50px;
        background-color: #fff;
        transition: all 100ms ease-in-out;
      }
      
      .nav-toggle:hover {
        cursor: pointer;
      }
      
      .x:nth-of-type(1) {
        transition: all 300ms ease-in-out;
        transform: rotate(45deg);
        transform-origin: top left;
        width: 25px;
      }
      
      .x:nth-of-type(2) {
        transition: all 300ms ease-in-out;
        transform-origin: center;
        width: 0;
      }
      
      .x:nth-of-type(3) {
        transition: all 300ms ease-in-out;
        transform: rotate(-45deg);
        transform-origin: bottom left;
        width: 24px;
      }
}

.hideSearchMenu {
    display: none;
}




.container-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid black;
    margin-top: 50px;
}

.container-2 > div {
    width: 75%;
    height: auto;
    border: px solid black;
}

.container-2_blocks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: px solid black;
}

.container-2_blocks > div:first-child {
    margin: 10px;
    width: 550px;
    height: auto;
    border: px solid black;
    z-index: 1;
}

.container-2_blocks > div:nth-child(2) {
    margin: 10px;
    width: 400px;
    height: 500px;
    border: px solid black;
    background-image: url('img/1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 1320px) {
    #container-2_blocks > div:nth-child(2) {
        width: 300px;
        height: 400px;
    }
}


@media screen and (max-width: 1196px) {
    #container-2_blocks > div:nth-child(2) {
        width: 250px;
        height: 300px;
    }
}

 

@media screen and (max-width: 1130px) {
    #container-2_blocks > div:nth-child(2) {
        width: 250px;
        height: 300px;
    }
}


@media screen and (max-width: 450px) {
    #circle_vectors_1 {
        display: none;
    }
    #circle_vectors_2 {
        display: none;
    }
}


@media screen and (max-width: 1127px) {
    #container-2_blocks > div:nth-child(2) {
        width: 100%;
        background-size: 100%;
    }
    #container-2 > div {
        width: 100%;
    }
}

.container-2_blocks_blocks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid black;
}

.container-2_blocks_blocks > div {
    margin-bottom: 15px;
    width: 100%;
    height: auto;
    border: px solid black;
}

.container-2__Title {
    font-family: 'Outfit', sans-serif;
    font-size: 250%;
    font-weight: 700;
    color: #fff; 
}



@media screen and (max-width: 430px) {
    #container-2__Title {
        font-size: 180%;
    }
}


.container-2__Text {
    font-family: 'Outfit', sans-serif;
    font-size: 110%;
    font-weight: 500;
    color: #fff;
}


.container-2_buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    border: px solid black;
}

.container-2_buttons > div {
    margin: 5px;
    width: auto;
    height: auto;
    border: px solid black;
}


@media screen and (max-width: 450px) {
    #explore_button {
        width: 100%;
    }
    #create_button {
        width: 100%;
    }
    #container-2_buttons > div {
        width: 100%;
    }
}

.explore_button {
    width: 120px;
    height: 45px;
    border: none;
    background: linear-gradient(89.62deg, #0500FA 7.09%, #E01E5A 92.23%);
    font-family: 'Outfit', sans-serif;
    font-size: 90%;
    font-weight: 500;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.create_button {
    width: 120px;
    height: 45px;
    border: 1px solid grey;
    background: rgba(30, 27, 51, 1);
    font-family: 'Outfit', sans-serif;
    font-size: 90%;
    font-weight: 500;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}


.container-2_playbtn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: px solid black;
}

.container-2_playbtn > div {
    margin: 2px;
    width: auto;
    height: auto;
    border: px solid black;
}

.lman_link {
    font-family: 'Outfit', sans-serif;
    font-size: 100%;
    font-weight: 500 ;
    color: #fff;
    text-decoration: none;
}

.play_button {
    width: 30px;
    height: 30px;
    border: none;
    background: rgba(112, 64, 242, 1);
    color: #fff;
    font-size: 70%;
    border-radius: 99em;
    cursor: pointer;
    transition: 1s;
}



.container-2_blocks_2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: px solid black;
}

.container-2_blocks_2 > div {
    position: absolute;
    transform: translate(-35px, 0);
    width: auto;
    height: auto;
    border: px solid black;
}

@media screen and (max-width: 1130px) {
    #container-2_blocks_2 > div {
        transform: translate(-20px, 0);
    }
}

.arrow_button {
    width: 70px;
    height: 70px;
    border: none;
    background: rgba(5, 2, 29, 1);
    font-size: 150%;
    color: rgba(174, 83, 221, 1);
    border-radius: 99em;
    cursor: pointer;
}

.circle_vectors_1 {
    position: absolute;
    width: 150px;
    height: 150px;
    transform: translate(80px, 200px);
    z-index: -3;
}

.circle_vectors_2 {
    position: absolute;
    width: 70px;
    height: 70px;
    transform: translate(-10px, 300px);
    z-index: -3;
}





.container-3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid black;
    margin-top: 70px;
}

.container-3 > div {
    width: 75%;
    height: auto;
    border: px solid black;
    border-bottom: 2px solid rgba(231, 231, 231, 0.24);
}

.container-3_blocks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid black;
}

.container-3_blocks > div:first-child {
    width: 400px;
    height: 100px;
    border: px solid black;
}

@media screen and (max-width: 1475px) {
    #container-3_blocks > div:first-child {
        width: 200px;
        height: 100px;
    }
}

@media screen and (max-width: 1220px) {
    #container-3_blocks_2 > div {
        margin: 10px;
    }
}

@media screen and (max-width: 1205px) {
    #container-3_blocks > div:first-child {
        margin: 10px;
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    #cont3__Title__Numbers {
        font-size: 150%;
    }
}

@media screen and (max-width: 450px) {
    #container-3_blocks_2 > div {
        margin: 15px;
    }
}
 
.container-3_blocks > div:nth-child(2) {
    width: 700px;
    height: auto;
    border: px solid black;
}

.container_3__Text {
    font-family: 'Outfit', sans-serif;
    font-size: 110%;
    font-weight: 300;
    color: #fff;
}



.container-3_blocks_2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    border: px solid black;
}

.container-3_blocks_2 > div {
    width: 150px;
    height: auto;
    border: px solid black;
}




.cont3__Title__Numbers {
    font-family: 'Outfit', sans-serif;
    font-size: 180%;
    font-weight: 900;
    color: #7040F2;
    text-align: center;
}

.cont3__Title__Text {
    font-family: 'Outfit', sans-serif;
    font-size: 90%;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.header_vector {
    position: absolute;
    width: 100%;
    height: auto;
    transform: translate(-380px, -1150px);
}

.header_vector_2 {
    position: absolute;
    width: auto;
    height: 18px;
    transform: translate(320px, -650px);
}




.container-4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid black;
    margin-top: 100px;
}   

.container-4 > div {
    width: 340px;
    height: 120px;
    border: px solid black;
}


.container-4__Title {
    font-family: 'Outfit', sans-serif;
    font-size: 200%;
    font-weight: 500;
    color: #fff;
    text-align: center;
    z-index: 3;
}


.container-4_blocks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid black;
}

.container-4_blocks > div {
    width: 100%;
    height: auto;
    border: px solid black;
    z-index: 3;
}

.container-4_blocks > div:first-child {
    position: relative;
    width: 130px;
    transform: translate(0, 50px);
}



.nft_text {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    z-index: 1;
}



.container-5 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid black;
    margin-top: 50px;
    margin-bottom: 100px;
}

.container-5 > div {
    width: 75%;
    height: auto;
    border: px solid black;
}


.container-5_blocks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid black;
}

.container-5_blocks > div {
    margin: 10px;
    width: 250px;
    height: auto;
    border: px solid black;
    border-radius: 8px;
    background: #1E1B33;
    transition: 0.5s;
}

.container-5_blocks > div:hover {
    box-shadow: 0px 1px 10px #fff;
}


@media screen and (max-width: 720px) {
    #container-5_blocks > div {
        width: 100%;
    }
    #container-5 > div {
        width: 90%;
    }
}

.container-5_blocks_1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid black;
}

.container-5_blocks_1 > div {
    margin: 18px;
    width: 100%;
    height: auto;
    border: px solid black;
}

.cards_img {
    width: 100%;
    height: auto;
}

.container-5_blocks_info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid black;
}

.container-5_blocks_info > div {
    width: 100%;
    height: auto;
    border: px solid black;
}

.container-5_blocks_info > div:nth-child(2) {
    margin-top: 8px;
}

.container-5_blocks_info > div:nth-child(3) {
    margin-top: 10px;
}


.container-5_cards_title {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    border: px solid black;
}

.container-5_cards_title > div {
    width: auto;
    height: auto;
    border: px solid black;
}

.cards__Title {
    font-family: 'Outfit', sans-serif;
    font-size: 120%;
    font-weight: 500;
    color: #fff;
}

.cards__likes {
    font-family: 'Outfit', sans-serif;
    font-size: 80%;
    font-weight: 500;
    color: #fff;
}

.cards__likes::before {
    content: "\f004";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 100%;
    padding: 1px;
}

.container-5_cards_price {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    border: px solid black;
    align-items: center;
}

.container-5_cards_price > div {
    width: auto;
    height: auto;
    border: px solid black;
}

.cards__flow {
    font-family: 'Outfit', sans-serif;
    font-size: 80%;
    font-weight: 500;
    color: #fff;
}

.cards__flow::before {
    content: "\f0d0";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 80%;
    padding: 1px;
    color: #03DB80;
}

.cards__people {
    width: 25px;
    height: 25px;
    transform: translate(25px,0);
}

.cards__people_2 {
    width: 25px;
    height: 25px;
    transform: translate(13px,0);
}

.cards__people_3 {
    width: 25px;
    height: 25px;
}


.container-5_cards_button {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid black;
}

.container-5_cards_button > div {
    width: 100%;
    height: auto;
    border: px solid black;
}

.cards__button {
    width: 100%;
    height: 38px;
    background: none;
    border: 1px solid rgba(231, 231, 231, 0.4);
    border-radius: 8px;
    font-family: 'Outfit', sans-serif;
    font-size: 70%;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}


.cards__button:hover {
    transition: 0.5s;
    background: linear-gradient(89.62deg, #0500FA 7.09%, #E01E5A 92.23%);
    border: none;
}



.container-6 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid #fff;
    margin-top: 100px;
    margin-bottom: 40px;
}

.container-6 > div {
    width: 70%;
    height: auto;
    border: px solid #fff;
}



@media screen and (max-width: 1345px) {
    #oneDay_button {
        width: 50px;
    }
    #sevenDay_button {
        width: 60px;
    }
    #monthDay_button {
        width: 70px;
    }
}

@media screen and (max-width: 1174px) {
    #container-6_blocks > div:nth-child(3) {
        width: auto;
    }
    #container-6_blocks {
        justify-content: flex-start;
    }
    #container-6_blocks > div {
        margin: 10px;
    }
}

@media screen and (max-width: 976px) {
    #oneDay_button {
        font-size: 60%;
        width: 40px;
    }
    #sevenDay_button {
        font-size: 60%;
        width: 50px;
    }
    #monthDay_button {
        font-size: 60%;
        width: 60px;
    }
    #token_button {
        width: 70px;
        font-size: 60%;
    }
}

@media screen and (max-width: 1000px) {
    #container-6__Title {
        font-size: 150%;
    }
    #nft_text_2 {
        width: 130px;
    }
    #container-6_blocks_1 > div:nth-child(2) {
        transform: translate(0, -20px);
    }
    #container-6_blocks > div:first-child  {
        width: auto;
    }
}

@media screen and (max-width: 742px) {
    #container-6_blocks {
        justify-content: center;
    }
}

@media screen and (max-width: 450px) {
    #oneDay_button {
        font-size: 60%;
        width: 100%;
    }
    #sevenDay_button {
        font-size: 60%;
        width: 100%;
    }
    #monthDay_button {
        font-size: 60%;
        width: 100%;
    }
    #container-6_blocks > div{
        width: 100%;
    }
    #container-6_blocks_2 > div {
        width: 100%;
    }
    #container-6_blocks_3 > div {
        width: 100%;
    }
    #container-6_blocks_3 {
        justify-content: center;
    }
    #token_button {
        width: 100%;
    }
    #container-6_blocks_3 {
        justify-content: center;
    }
}


.container-6_blocks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    border: px solid #fff;
}

.container-6_blocks > div {
    width: 300px;
    height: auto;
    border: px solid #fff;
}

.container-6_blocks > div:nth-child(2) {
    width: auto;
}

.container-6_blocks_1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: px solid #fff;
}

.container-6_blocks_1 > div {
    width: 100%;
    height: auto;
    border: px solid #fff;
}

.container-6_blocks_1 > div:nth-child(2) {
    transform: translate(0, -40px);
}

.nft_text_2 {
    display: block;
    margin: 0 auto;
    width: 180px;
    height: auto;
}

.container-6__Title {
    font-size: 240%;
    font-family: 'Outfit';
    font-weight: 500;
    color: #fff;
    text-align: center;
}


.container-6_blocks_2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: px solid #fff;
}

.container-6_blocks_2 > div {
    margin: 5px;
    width: auto;
    height: auto;
    border: px solid #ffff;
}

.oneDay_button {
    width: 90px;
    height: 45px;
    background: #1E1B33;;
    border-radius: 8px;
    font-family: 'Outfit', sans-serif;
    font-size: 70%;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    border: 1px solid rgba(231, 231, 231, 0.4);
}

.oneDay_buttonActive {
    width: 90px;
    height: 45px;
    background: linear-gradient(89.62deg, #0500FA 7.09%, #E01E5A 92.23%);;
    border-radius: 8px;
    font-family: 'Outfit', sans-serif;
    font-size: 70%;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    border: none;
} 

.sevenDay_button {
    width: 100px;
    height: 45px;
    background: #1E1B33;;
    border-radius: 8px;
    font-family: 'Outfit', sans-serif;
    font-size: 70%;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    border: 1px solid rgba(231, 231, 231, 0.4);
}

.sevenDay_buttonActive {
    width: 100px;
    height: 45px;
    background: linear-gradient(89.62deg, #0500FA 7.09%, #E01E5A 92.23%);;
    border-radius: 8px;
    font-family: 'Outfit', sans-serif;
    font-size: 70%;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    border: none;
}

.monthDay_button {
    width: 110px;
    height: 45px;
    background: #1E1B33;;
    border-radius: 8px;
    font-family: 'Outfit', sans-serif;
    font-size: 70%;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    border: 1px solid rgba(231, 231, 231, 0.4);
}

.monthDay_buttonActive {
    width: 110px;
    height: 45px;
    background: linear-gradient(89.62deg, #0500FA 7.09%, #E01E5A 92.23%);;
    border-radius: 8px;
    font-family: 'Outfit', sans-serif;
    font-size: 70%;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    border: none;
}

@media screen and (max-width: 1344px) {
    #oneDay_button {
        font-size: 60%;
    }
    #sevenDay_button {
        font-size: 60%;
    }
    #monthDay_button {
        font-size: 60%;
    }
}

@media screen and (max-width: 976px) {
    #oneDay_button {
        font-size: 40%;
    }
    #sevenDay_button {
        font-size: 40%;
    }
    #monthDay_button {
        font-size: 40%;
    }
}

@media screen and (max-width: 450px) {
    #oneDay_button {
        font-size: 70%;
    }
    #sevenDay_button {
        font-size: 70%;
    }
    #monthDay_button {
        font-size: 70%;
    }
}

.container-6_blocks_3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border: px solid #fff;
}

.container-6_blocks_3 > div {
    width: auto;
    height: auto;
    border: px solid #fff;
}

#token_button {
    width: 100px;
    height: 40px;
    background: #1E1B33;;
    border-radius: 8px;
    font-family: 'Outfit', sans-serif;
    font-size: 80%;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    border: 1px solid rgba(231, 231, 231, 0.4);
}




.container-7 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid #fff;
    margin-bottom: 100px;
}

.container-7 > div {
    width: 70%;
    height: auto;
    border: px solid #fff;
}



.container-7_blocks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    border: px solid #fff;
}

.container-7_blocks > div {
    width: 300px;
    height: auto;
    border: px solid #fff;
}

@media screen and (max-width: 862px) {
    #container-7_blocks {
        justify-content: center;
    }
}

@media screen and (max-width: 740px) {
    #container-7_blocks > div {
        width: 100%;
    }
}

@media screen and (max-width: 540px) {
    #container-7__blocks__Title {
        font-size: 70%;
    }
}

@media screen and (max-width: 440px) {
    #container-7__blocks__Title {
        font-size: 60%;
    }
}

.container-7_blocks_1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid #fff; 
}

.container-7_blocks_1 > div {
    width: 100%;
    height: auto;
    border: 1px solid rgba(231, 231, 231, 0.4);
    background: #1E1B33;
    padding: 8px;
    border-radius: 13px;
    margin: 10px;
}

#expensiveBlock {
    background: linear-gradient(to right, red, purple);
    border: none;
}


.container-7_blocks_1_blocks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    border: px solid #fff;
}

.container-7_blocks_1_blocks > div:first-child {
    width: 14%;
    height: auto;
    border: px solid #fff;
}

.circle_avatar {
    width: 100%;
    height: auto;
}


.container-7_blocks_1_blocks > div:nth-child(2) { 
    width: 81%;
    height: auto;
    border: px solid #fff;
}


.container_7_blocks_info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid #fff;
}

.container_7_blocks_info > div {
    margin: 4px;
    width: 100%;
    height: auto;
    border: px solid #fff;
}


.container-7_blocks_infoplus {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: px solid #fff;
}

.container-7_blocks_infoplus > div {
    width: auto;
    height: auto;
    border: px solid #fff;
}

.container-7__blocks__Title {
    font-family: 'Outfit', sans-serif;
    font-size: 90%;
    font-weight: 500;
    color: #fff;
}


.container-7_blocks__price {
    font-family: 'Outfit', sans-serif;
    font-size: 70%;
    font-weight: 500;
    color: #03DB80;;
}

.container-7_blocks_infoprice {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    border: px solid #fff;
}


.container-7_blocks_infoprice > div {
    width: auto;
    height: auto;
    border: px solid #fff;
}

.container-7_blocks__secondPrice {
    font-family: 'Outfit', sans-serif;
    font-size: 65%;
    font-weight: 300;
    color: #fff;
}

.container-7_blocks__secondPrice::before {
    content: "\f0d0";
    font-size: 65%;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #03DB80;
    padding: 5px;
}

.container-7_blocks__plusprocent {
    font-family: 'Outfit', sans-serif;
    font-size: 65%;
    font-weight: 300;
    color: #fff;
}


.arrow_vector {
    padding: 5px;
}





.container-8 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid #fff;
    margin-bottom: 60px;
}

.container-8 > div {
    width: 300px;
    height: auto;
    border: px solid #fff;
}


.container-8_blocks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid #fff;
}

.container-8_blocks > div {
    width: 100%;
    height: auto;
    border: px solid #fff;
}

.container-8_blocks > div:nth-child(2) {
    transform: translate(0, -38px);
}

.nft_text_3 {
    display: block;
    margin: 0 auto;
    width: 60%;
    height: auto;
}


.container-8__Title {
    font-family: 'Outfit', sans-serif;
    font-size: 230%;
    font-weight: 500;
    color: #fff;
    text-align: center;
}




.container-9 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid #fff;
    margin-bottom: 100px;
    overflow-x: hidden;
}

.container-9 > div {
    width: 70%;
    height: auto;
    border: px solid #fff;
}

@media screen and (max-width: 550px) {
    .container-9 > div {
        width: 90%;
    }
    #container-9_blocks > div {
        width: 250px;
        min-width: 250px;
        max-width: 250px;
    }
}


.container-9_blocks {
    display: flex;
    border: px solid #fff;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}



.container-9_blocks::-webkit-scrollbar {
    height: 3px; 
    background-color: rgba(231, 231, 231, 0.24);;
    border-radius: 9em;
}

.container-9_blocks::-webkit-scrollbar-thumb {
    background: linear-gradient(89.62deg, #0500FA 7.09%, #E01E5A 92.23%);;
    border-radius: 9em;
}



.container-9_blocks > div {
    margin: 10px;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    height: auto;
    border: px solid rgba(231, 235, 238, 0.4);
    border-radius: 12px;
    padding: 20px;
    background:#1E1B33;
    scroll-snap-align: center;
}



.container-9_blocks_1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid #fff;
}

.container-9_blocks_1 > div {
    width: 100%;
    height: auto;
    border: px solid #fff;
}

.container-9_blocks_1 > div:hover .cardButton{
    max-height: 40px;
    overflow: visible;
    transition: 0.5s;
}

.container-9_blocks_1 > div:hover .container-9_blocks_1_info_blocks > div {
    max-height: 15px;
    overflow: visible;
    transition: 0.5s;
    padding: 1px 6px 4px 6px;
}

@media screen and (max-width: 790px) {
    .container-9_blocks_1 > div:hover .cardButton {
        display: none;
    }
    
    .container-9_blocks_1 > div:hover .container-9_blocks_1_info_blocks > div {
        display: none;
    }
}


@media screen and (max-width: 780px) {
    #cardButton {
        display: block;
        max-width: 100%;
        max-height: 45px;
    }
    .container-9_blocks_1_info_blocks > div {
        max-width: 15px;
        max-height: 15px;
        margin: 5px;
        width: auto;
        height: auto;
        padding: 1px;
        background: #1E1B33;
        border: px solid #fff;
        border-radius: 5px;
        transition: 0.5s;
    }
     
}

.container-9_blocks_1_info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid #fff;
    border-radius: 8px;
}



#cardOne {
    background-image: url(img/7.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#cardTwo {
    background-image: url(img/8.png);
    background-size: cover;
    background-repeat: no-repeat;
}


#cardThree {
    background-image: url(img/9.png);
    background-size: cover;
    background-repeat: no-repeat;
}


#cardFour {
    background-image: url(img/10.png);
    background-size: cover;
    background-repeat: no-repeat;
}


.container-9_blocks_1_info > div {
    width: 100%;
    height: auto;
    border: px solid #fff;
    padding-bottom: 14px;
    margin: 10px;
}

.container-9_blocks_1_info > div:nth-child(2) {
    margin-top: 100px;
}

.container-9_blocks_1_info_button {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid #fff;
}

.container-9_blocks_1_info_button > div {
    width: auto;
    height: auto;
    border: px solid #fff;
}


.cardButton {
    max-height: 0;
    overflow: hidden;
    width: 110px;
    height: 40px;
    border: none;
    background: linear-gradient(89.62deg, #0500FA 7.09%, #E01E5A 92.23%);
    font-family: 'Outfit', sans-serif;
    font-size: 80%;
    font-weight: 500;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
}


.container-9_blocks_1_info_blocks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    border: px solid #fff;
}

.container-9_blocks_1_info_blocks > div { 
    max-height: 0px;
    overflow: hidden;
    margin: 5px;
    width: auto;
    height: auto;
    padding: 1px;
    background: #1E1B33;
    border: px solid #fff;
    border-radius: 5px;
    transition: 0.5s;
}


.resetbutton {
    width: 15px;
    height: 15px;
    border: none;
    background: #1E1B33;
    cursor: pointer;
}

.favouriteButton {
    width: 15px;
    height: 15px;
    border: none;
    background: #1E1B33;
    cursor: pointer;
}

.favourite {
    font-size: 90%;
    color: #fff;
}

.arrowReset {
    font-size: 90%;
    color: #fff;
}

.favouriteSpan {
    font-family: 'Outfit', sans-serif;
    font-size: 75%;
    font-weight: 500;
    color: #fff;
    padding: 1px;
}

.container-9_blocks_1_blocks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid #fff;
}

.container-9_blocks_1_blocks > div {
    width: 100%;
    height: auto;
    border: px solid #fff;
    margin-top: 6px;
}

.container-9_blocks__Author {
    font-family: 'Outfit', sans-serif;
    font-size: 80%;
    font-weight: 500;
    color: #fff;
}


.container-9_blocks__Author::after {
    content: "\f058";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 80%;
    color: #F4C558;
    padding: 3px;
}

.container-9_blocks__Title {
    font-family: 'Outfit', sans-serif;
    font-size: 120%;
    font-weight: 500;
    color: #fff;
}

.container-9_blocks__priceblock {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: 0.5px solid rgba(231, 231, 231, 0.4);
    border-radius: 8px;
}

.container-9_blocks__priceblock > div {
    width: 100%;
    height: auto;
    border: none;
}


.container-9_blocks__priceblock_1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    border: none;
}

.container-9_blocks__priceblock_1 > div {
    width: auto;
    height: auto;
    border: px solid #fff;
    margin: 8px;
}

.container-9_blocks__info {
    font-family: 'Outfit', sans-serif;
    font-size: 75%;
    font-weight: 500;
    color: #c0c0c0;
}

.container-9_blocks__info_2 {
    font-family: 'Outfit', sans-serif;
    font-size: 75%;
    font-weight: 500;
    color: #c0c0c0;
}

.container-9_blocks__priceblock_2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    border: px solid #fff;
}


.container-9_blocks__priceblock_2 > div {
    width: auto;
    height: auto;
    border: px solid #fff;
    margin: 8px;
}


.container-9_blocks__sale {
    font-family: 'Outfit', sans-serif;
    font-size: 80%;
    font-weight: 500;
    color: #fff;
}

.container-9_blocks__price {
    font-family: 'Outfit', sans-serif;
    font-size: 80%;
    font-weight: 500;
    color: #fff;
}
